body {
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif; 
    background-color: black;    
}
.container {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
}
.cabecalho div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.pagina-principal {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 70px;
}
.pagina-principal h1 {
    font-size: 30px;    
}
.pagina-principal .perfis {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.pagina-principal .perfis .perfil-individual{

}
.pagina-principal .perfis .perfil-individual .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    text-align: center;
}
.pagina-principal .perfis .perfil-individual .box .box-img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid transparent;
}
.pagina-principal .perfis .perfil-individual .box .box-img:hover {
    border: 2px solid white;
}
.pagina-principal .perfis .perfil-individual .box .box-img {
    overflow: hidden;
}
.pagina-principal .perfis .perfil-individual .box .box-img-add {
    width: 160px;
    height: 160px;
    border-radius: 10px;    
    border: 2px solid transparent;    
    display: flex;
    align-items: center;
    justify-content: center;     
    background-color: rgb(58, 55, 55); 
    opacity: 0.4; 
}    
.pagina-principal .perfis .perfil-individual .box .box-img-add .box-img-perfil-add {
    width: 80px;
    height: 80px;
    object-fit: cover;
    
}
.pagina-principal .perfis .perfil-individual .box .box-img-add:hover {
    opacity: 0.8;
    border: 2px solid white;
    background-color: black;
}  
.pagina-principal .perfis .perfil-individual .box .nome-perfil {
    color: rgb(130, 127, 127);
    font-size: 20px;    
}
.pagina-principal .perfis .perfil-individual .box .nome-perfil:hover {
    color: white;
}
.pagina-principal .gerenciar .gerenciar-perfis{
    border: 2px solid white;
    border-radius: 10px;
    padding: 18px 45px;
    text-decoration: none;
    font-size: 20px;
    color: white;   
}   
.pagina-principal .gerenciar {
    margin-top: 50px;
}
.pagina-principal .gerenciar .gerenciar-perfis:hover{
    background-color: white;
    color: black;    
}
